<div class="container mt-4">
<h2>List of sensors - {{this.aSensor}}</h2>
<table class="table">
    <thead>
    <tr class="text-center">
        <th *ngFor="let item of headers" scope="col">
            {{ item | uppercase }}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sensor of this.allSensors">
            <td>{{sensor.name}}</td>
            <td>{{sensor.active}}</td>
            <td>{{sensor.minval}}</td>
            <td>{{sensor.maxval}}</td>
        </tr>
    </tbody>
</table>
</div>