<div class="container">
    <form (ngSubmit)="onSave()" [formGroup]="sensorForm">
      <div class="card col-lg-6 d-flex-column justify-content-center p-4 mt-4">
        <div class="form-group mt-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            formControlName="name"
            [class]="isValidField('name')"
          />
          <div class="invalid-feedback">
            <span *ngIf="sensorForm.get('name').errors?.required">
                This field name is required
            </span>
         </div>
        </div>
        <div class="form-group mt-3">
          <label for="active">Active</label>
          <input
            type="text"
            class="form-control"
            formControlName="active"
          />
        </div>
        <div class="form-group mt-3">
          <label for="minval">Min Value</label>
          <input
            type="number"
            class="form-control"
            placeholder="0.343"
            formControlName="minval"
            [class]="isValidField('minval')"
          />
          <div class="invalid-feedback">
            <span *ngIf="sensorForm.get('minval').errors?.required">
                This field minval is required
            </span>
        </div>
        </div>
        <div class="form-group mt-3">
          <label for="maxval">Max Value</label>
          <input
            type="number"
            class="form-control"
            placeholder="0.065"
            formControlName="maxval"
            [class]="isValidField('maxval')"
          />
          <div class="invalid-feedback">
            <span *ngIf="sensorForm.get('maxval').errors?.required">
                This field maxval is required
            </span>
            <span *ngIf="sensorForm.get('maxval').errors?.pattern">
                invalid maxval
            </span>
        </div>
        </div>
        <div class="form-group mt-4">
          <div class="d-flex mb-3">
            <div class="me-auto">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="goBackToList()"
              >
              <i class="bi bi-chevron-left"></i>
                Go back
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary btn-block text-light"
                (click)="onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
  